* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

 .header-logo >img {
    width: 60px;
    padding : 10px
}

body {
    background-color: #fed766;
}

h1 {
    color: #272727;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin-top:8px;
    margin-bottom: 8px;
    background-color: #eff1f3;
    border: none;
    border-bottom: 2px solid #272727;
}

input[type=text]:focus, input[type=password]:focus {
    outline:none;

}
button {
    width : 100px;
    padding: 8px;
    margin-top:8px;
    margin-bottom:8px;
    border: 2px solid #272727;
}

button:hover {
    color: #eff1f3;
    background-color: #272727;
}

 .login-box {
    width: 400px;
    padding: 30px;
    border:  2px solid #272727;
    background-color: #eff1f3;
}

.login-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar > div {
    border: 2px solid #272727;
    padding: 8px;
    margin: 8px;
    height: 40px;
}

.nav-bar > div:hover {
    color: #eff1f3;
    background-color: #272727;
}
.nav-bar {
    display : flex;
    justify-content: flex-end;
}
.footer {
    margin: 8px;
    text-align:center;
}