* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
.nav-bar {
    display : flex;
    flex-wrap: wrap;  
    background-color: gray;  
    color: white;
    position: sticky;
    top:0;
    z-index:3;
    opacity: 0.8;
}

.nav-bar-icon-toggle {
    display: none;
    padding: 20px 25px;
}

.nav-bar-brand-logo {
    padding: 20px 25px;
}
.nav-bar-link {
    padding: 20px 49px;
    margin: 0 auto;
    
}
.nav-bar-link:hover {
    background-color: black;
    color:white;
    font-size: 14pt;
}
.nav-bar-left {
display: flex;
}

.nav-bar-right {
    display:flex;
    margin-left:auto;
}


@media(max-width: 768px) {
    .nav-bar {
        display: flex;
        position: sticky;
        width: 100%;
        opacity: 0.95;
    }
      .nav-bar, .nav-bar-right {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-bar-right {
        display: none;
        margin-left: 0;
    }
    
    .nav-bar-icon-toggle {
        display: initial;
        flex-direction: row;
        justify-content: flex-end;
        position :absolute;
        right: 0;
        top: 0;
        cursor: pointer; 
    } 
    .nav-bar-toggle-display {
        display: flex;
    }
    .nav-bar-link {
        width :100%;
    }
    .show {
        display : flex;
    }
    
}
.getNav a {
    text-decoration: none;
    color: white;
}
.nav-bar-left a {
    text-decoration : none;
    color: white;
}

.active {
    background-color: black;
}