.login-box {
    width: 400px;
    padding: 30px;
    border:  1px solid #eff1f3;
    background-color: white;
    color: hotpink;
    margin-top: 100px;
    margin-bottom: 120px;
}


#displayEmailError, #notify-error, #notify-no-error, #displayPasswordError, 
#notify-no-error-password, #notify-no-error-confirmpassword, #displayConfirmPasswordError,
#notify-no-error-firstname, #notify-no-error-lastname, #notify-error-firstname, #notify-error-lastname,
#displayFirstNameError, #displayLastNameError, #notify-error-password, #notify-error-confirmpassword,
#loader {
    display: none;
}

#alert-box {
    display: none;
    color: white;
    background-color: red;
    padding: 14px 20px;
    width: 25%;
    margin-left: 75%;
    margin-top: 1%;
    border-radius:20px;
    text-align: center;
    font-size: 15pt;
    animation: disappear 5s;
    position: fixed;
}
@keyframes disappear {
    from{ opacity : 1;}
    to { opacity: 0.8}
    to { opacity: 0.7}
    to { opacity: 0.4}
    to{ opacity: 0;}
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size : 13pt;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: hotpink;
}

input[type=text]:focus, input[type=password]:focus {
    outline:none;
font-size: 16pt;
}
input::placeholder {
color: hotpink;
}
button {
    width : 100%;
    height: 50px;
    padding: 8px;
    margin-top:20px;
    margin-bottom:10px;
    border: none;
    font-size:20px;
}

button:hover {
    color: #eff1f3;
    background-color: hotpink;
}

.login-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-box {
    width: 600px;
    padding: 30px;
    border:  none;
    background-color: white;
    color: hotpink;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 20px;
    min-height: 60%;
}
.request-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

textarea {
    width: 100%;
    height: 20%;
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 8px;
    resize: none;
    border-radius: 20px;
    background-color: white;
    color: hotpink;
}

.spacing {
    margin-top: 30px;
}

select  {
    width: 100%;
    padding: 8px;
    background-color: white;
    color: hotpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top:20px;
}

.form-one {
    margin-top : 39px;
}

.h4 {
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}


.notification-box {
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.display-name {
    display : inline-block;
    padding : 3px;
}

.login-box-search {
    width: 700px;
    padding: 3px;
    border:  1px solid #eff1f3;
    border-radius: 20px;
    background-color: #272727;
    color: #eff1f3;
    margin-bottom: 20px;
   padding-left: 25px;
   padding-right: 25px;
}

.search-display {
    display: flex;
    justify-content: center;
}

.search-icon {
    padding-top: 15px;
    padding-left: 10px;
}

.search-line {
    width:100%;
}

.search-text {
    color: hotpink;
}

.login-panel-welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    margin-top: 150px;
    text-align: center;
}

.login-box-welcome {
    width: 400px;
    padding: 30px;
    border:  1px solid #eff1f3;
    border-radius: 20px;
    background-color: #272727;
    color: #eff1f3;
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    #alert-box {
        width: 80%;
        margin: 4% auto;
        margin-top: 2%;
        margin-left: 10%;
    }
    .login-box {
        width: 95%;
        margin-top: 25%;
    }
    .request-box {
        width: 80%;
        margin-top: 39px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .request-panel {
        margin-bottom: 49px;
    }
}